{% extends 'layout.html' %}
{% block content %}
  <a href='{% url "index" %}'>Go to main page</a>
  <h2>Post details</h2>
  <div class="user-post">
    <p>{{ post.author }}</p>
    <p>{{ post.date_added }}</p>
    <p>{{ post.text }}</p>
  </div>

  <form method='POST'>
  	{% csrf_token %}
  	{{ form.as_p }}
  	<input type='submit' value="Add comment"></input>
  </form>

  {% for comment in comments %}
  	<hr/>
  	<p>{{ comment.author }}</p>
    <p>{{ comment.date_added }}</p>
    <p>{{ comment.text }}</p>
  {% endfor %}
{% endblock %}
